// Bootstrap
@import "variables";
@import "bootstrap/scss/bootstrap";

// Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
    height: 100%;
    min-height: 100vh;

    font-family: "Poppins";
}

body:not(:has(> .page-layout)) {
    overflow: hidden;
}

.marker-cluster span {
    font-family: "Poppins";
    font-weight: bold;
}

.leaflet-container {
    font-family: "Poppins";
}

.min-100vh {
    min-height: 100vh;
}

#map {
    width: 100%;
    height: calc(100vh - 5rem);
}

.popupimage {
    width: 55%;
}

.codeblock {
    background-color: #1c1c1c;
    color: white;
    border-radius: 1em;
    padding: 1em;
    overflow: scroll;
}

.navbar-brand {
    align-items: center;
    display: flex;
}

.nav-link {
    font-size: 1.1rem;
}

.table-fixed thead {
    width: 97%;
}
.inputHeader {
    width: 100%;
}
.table-fixed tbody {
    height: 30em;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

.legend {
    right: 0;
    top: 12.5%;
}

.ui-element {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #f8f9fa;
    position: absolute;
    z-index: 999;
}

.w-10 {
    width: 10% !important;
}

.legend-icon {
    transition: 0.2s;
}

.legend-icon.flipped {
    transform: rotate(180deg);
}

.timeline-steps {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
}

.aed-marker {
    height: 50px;
    width: 59px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.aed-marker.regular {
    background-image: url("http://openaed.test/icons/aed_Regular.png");
}

.aed-marker.permissive {
    background-image: url("http://openaed.test/icons/aed_Permissive.png");
}

.aed-marker.private {
    background-image: url("http://openaed.test/icons/aed_Private.png");
}

.aed-marker.unknown {
    background-image: url("http://openaed.test/icons/aed_Unknown.png");
}

// mobile
@media (max-width: 768px) {
    #map {
        height: calc(100vh - 4rem);
    }

    #legend-content.visible {
        display: inherit;
    }

    #legend-content {
        display: none;
        transition: 0.2s;
    }

    .ui-element {
        width: 100%;
    }

    .legend {
        position: fixed;
        top: auto;
        left: 0;
        bottom: 0;
        margin: 0;

        font-size: 0.9em;

        border-radius: 3px 3px 0 0;
    }

    .legend-icon {
        width: 3.5em;
    }
}

.list-bb li:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.25em;
}

// desktop only
@media (min-width: 768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: 0.25rem dotted var(--bs-primary);
        width: 6rem;
        position: absolute;
        left: 9rem;
        top: 0.3125rem;
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: 0.25rem dotted var(--bs-primary);
        width: 6rem;
        position: absolute;
        right: 9rem;
        top: 0.3125rem;
    }
}

.timeline-steps .timeline-content {
    width: 12.5rem;
    text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-primary);
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: var(--bs-primary);
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: 0.5;
}
